body {
  font-family: "Roboto";
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  
  gap: 20px;
}

.wrapper {
  background-color: #fafafa;
  /*border: 1px solid black;*/
  display: flex;
  justify-content: space-between;
  width: 220px;
  height: 125px;
  padding: 0px 10px 15px 10px;
}

.first-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding-bottom: 23px; */
  width: 6rem;
}

.first-column span {
  letter-spacing: 1.5px;
  margin-top: 6px;
  font-size: 0.6rem;
}

h1 {
  color: #004750;
  margin-bottom: -10px;
  font-size: 1rem;
  /* padding-top: 9px; */
  letter-spacing: 0.8px;
}

h2 {
  color: #004750;
  margin-bottom: -2px;
  font-size: 0.8rem;
  /* padding-top: 9px; */
  letter-spacing: 0.8px;
}

p {
  color: #004750;
  font-weight: 500;
  font-size: 0.7rem;
  /* line-height: 1.3rem; */

  letter-spacing: 0.5px;
  display: -webkit-box;
  /* -webkit-line-clamp: 3; */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.second-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.date {
  color: #004750;
  letter-spacing: 0.3px;
  font-size: 0.6rem;
  text-align: center;
  font-weight: 700;
  padding-top: 7px;
  padding-bottom: 4px;
}

.super {
  background-color: #004750;
  color: #fff;
  font-weight: 500;
  /* padding: 10px 18px; */
  border-radius: 20px;
  letter-spacing: 0.6px;
  font-size: 0.6rem;
  padding: 4px 3px;
  text-align: center;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.new-count {
  display: flex;
  color: #004750;
  font-weight: 900;
  /* padding-left: 2px; */
}

.int {
  font-size: 2.6rem;
}

.dec {
  font-size: 1.1rem;
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-bottom: 20px; */
}

.old-price-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.old-price-container::before {
  content: "";
  position: absolute;
  top: 72%;
  left: 3px;
  height: 1px;
  background: #535050;
  transform: rotate(-12deg);
  transform-origin: center;
  -webkit-print-color-adjust: exact; /* Chrome, Safari */
  color-adjust: exact;
}

.old-price-container.normal-count::before {
  width: 50%;
  transform: rotate(-15deg);
  left: 2px;
  top: 78%;
}

.old-price-container.low-count::before {
  width: 46%;
  transform: rotate(-15deg);
  left: 2px;
  top: 78%;
}

.old-price-container.high-count::before {
  width: 60%;
  transform: rotate(-15deg);
  left: 4px;
  top: 75%;
}
.old {
  color: #004750;
  font-weight: 600;
  width: 91px;
  padding-top: 11px;
  letter-spacing: 0.7px;
  font-size: 0.7rem;
  padding-left: 7px;
}

.old-count {
  display: flex;
  gap: 3px;
  position: relative;
  color: #004750;
  font-weight: 500;
  font-size: 0.93rem;
  padding-left: 7px;
}

@media screen and (max-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .wrapper {
    min-width: 100%;
    display: flex;
    justify-content: center;
    gap: 2px;
  }

  .first-column {
    width: unset;
  }

  h1 {
    font-size: 1.5em;
    width: 9rem;
  }
  p {
    font-size: 0.9rem;
    width: 8rem;
  }
  .date {
    font-size: 0.8rem;
  }

  .super {
    padding: 10px;
  }
  .int {
    font-size: 5rem;
  }
}
